.activity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity > p {
    margin: 0%;
    font-size: 14px;
    font-weight: bold;
    color: white;
}