.add-new-activity {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    gap: 30px;
    padding: 0px 20px;
    border-radius: 40px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.button > img {
    filter: invert(100%) sepia(13%) saturate(9%) hue-rotate(292deg) brightness(84%) contrast(80%);
}

.button > p {
    color: #c4c4c4;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}