.add-new-activity {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.add-new-activity-button {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0;
    background-color: white;
    gap: 30px;
    padding: 0px 20px;
    border-radius: 40px;
}

.add-new-activity-button:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.add-new-activity-button > img {
    filter: invert(100%) sepia(13%) saturate(9%) hue-rotate(292deg) brightness(84%) contrast(80%);
}

.add-new-activity-button > p {
    color: #c4c4c4;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}