.container-of-fields .container-of-fields {
    width: 100%;
}

.container-of-fields .date-picker {
    margin-top: 20px;
    margin-left: 20px;
}

.container-of-fields .add-timetable-button {
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #497cff;
    width: fit-content;
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.container-of-fields .add-timetable-button > p {
    color: white;
    margin: 0px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.container-of-fields .add-timetable-button:hover {
    cursor: pointer;
    background-color: #365fc6;
}