.existing-tournaments-container {
    margin-left: 6vw;
    margin-top: 3vh;
}

.existing-tournaments-container > p {
    margin: 0;
    margin-bottom: 4vh;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.existing-tournaments-container .tournament {
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 40vw;
    background-color: #ebebeb;
    border: solid 0px white;
    border-radius: 42px;
    overflow: hidden;
}

.existing-tournaments-container .tournament > p {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.new-sports-tournament {
    margin-left: 6vw;
    margin-bottom: 6vh;
}

.new-sports-tournament .add-new-something {
    width: 44vw;
}

.new-sports-tournament .tournament-title-text-field {
    margin-left: 2vw;
    width: 40vw;
}