.timetables-view {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-timetable, .next-timetable {
    padding-top: 50px;
    height: 440px;
    width: 290px;
}

.current-timetable {
    display: flex;
    align-items: center;
    gap: 15px;
}

.current-timetable > img {
    border-radius: 100%;
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
}

.current-timetable > img:hover {
    cursor: pointer;
    background: #b4b4b4;
}


.previous-timetable > .activity-container,
.next-timetable > .activity-container {
    height: 440px;
    width: 290px;
}

.current-timetable > .container > .time-timetable-container > .activity-container {
    height: 500px;
    width: 318px;
}