.navigation-panel {
    height: 80px;
    width: 100%;
    max-width: 1920px;
    background-color: #497CFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navigation-panel-logo {
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 56px;
    width: 200px;
}

.navigation-panel-logo > img {
    max-width: 100%;
    max-height: 100%;
}

.navigation-panel-account-info {
    margin-top: 12px;
    margin-right: 30px;
    margin-bottom: 12px;
    padding: 5px;
    padding-left: 12px;
    height: 46px;
    min-width: 177px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    border-radius: 10px;

}

.navigation-panel-account-info:hover {
    background-color: #2b55bf;
    cursor: pointer;
}

.navigation-panel-account-info > p {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    color: white;
}

.navigation-panel-account-info > img {
    height: 100%;
    filter: brightness(0) invert(1)
}