.sports-container {
    display: flex;
}

.existing-tournaments-container {
    margin-left: 6vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: relative;
}

.existing-tournaments-container > p {
    margin: 0;
    margin-bottom: 4vh;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.existing-tournaments-container .tournament {
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 40vw;
    background-color: #ebebeb;
    border: solid 0px white;
    border-radius: 42px;
    overflow-wrap: break-word;

    display: flex;
    justify-content: space-between;
}

.existing-tournaments-container .tournament > p {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 31vw;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.existing-tournaments-container .tournament > img {
    width: 3vw;
    filter: invert(99%) sepia(1%) saturate(44%) hue-rotate(352deg) brightness(114%) contrast(84%);
    margin-right: 1vw;
}

.existing-tournaments-container .tournament > img:hover {
    filter: invert(95%) sepia(5%) saturate(3%) hue-rotate(314deg) brightness(95%) contrast(84%);
}

.existing-tournaments-container .blue-add-button {
    position: static;
    float: right;
}

.new-sports-tournament {
    margin-bottom: 6vh;
}

.new-sports-tournament .add-new-something {
    width: 40vw;
}

.new-sports-tournament .tournament-title-text-field {
    margin-left: 2vw;
    width: 40vw;
}

.new-sports-event {
    margin-left: 6vw;
    margin-top: 3vh;
}

.new-sports-event > p {
    margin: 0;
    margin-bottom: 4vh;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.new-sports-event .team1, .new-sports-event .team2 {
    display: flex;
}

.new-sports-event .team1, .new-sports-event .team2 {
    margin-top: 3vh;
    gap: 2vw;
}

.new-sports-event .blue-add-button, .new-sports-event .red-delete-button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    position: static;
    float: right;
}