.add-delete-team-container, .add-delete-kids-container {
    margin-top: 2vh;
    margin-left: 2vw;
}

.add-delete-team-container > p {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.add-delete-team-container .autocomplete-add-delete {
    display: flex;
    margin-top: 3vh;
    gap: 2vw;
}

.add-delete-team-container .autocomplete-add-delete .blue-add-button, .add-delete-team-container .autocomplete-add-delete .red-delete-button {
    position: static;
}

.add-delete-kids-container {
    margin-bottom: 5vh;
}

.add-delete-kids-container > p {
    margin-bottom: 3vh;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.add-delete-kids-container .existing-kids {
    margin-top: 3vh;
}

.add-delete-kids-container .kid {
    margin-left: 3vw;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.add-delete-kids-container .kid > p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.add-delete-kids-container .kid > img {
    height: 3vw;
    filter: invert(99%) sepia(1%) saturate(44%) hue-rotate(352deg) brightness(114%) contrast(84%);
    margin-right: 1vw;
}

.add-delete-kids-container .kid > img:hover {
    filter: invert(95%) sepia(5%) saturate(3%) hue-rotate(314deg) brightness(95%) contrast(84%);
}

.add-delete-kids-container .add-kid-field {
    display: flex;
    margin-top: 2vh;
    margin-left: 3vw;
    gap: 2vw;
}