.grid-page-container {
    position: relative;
}

.head-switcher {
    margin-top: 4vh;
    position: absolute;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.head-switcher > p {
    margin: 0;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.head-switcher > img {
    filter: invert(100%) sepia(13%) saturate(9%) hue-rotate(292deg) brightness(84%) contrast(80%);
}