.grid-page-container {
    width: 100%;
}

.head-switcher {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.head-switcher div#leftArrow, .head-switcher div#rightArrow {
    width: 5vw;
    display: flex;
}

.head-switcher div#leftArrow {
    justify-content: flex-start;
}

.head-switcher div#rightArrow {
    justify-content: flex-end;
}

.head-switcher div#title {
    width: 35vw;
    text-align: center;
    overflow-wrap: break-word;
}

.head-switcher div#leftArrow div:hover, .head-switcher div#rightArrow div:hover {
    background-color: #ebebeb;
}

.head-switcher p {
    margin: 0;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.head-switcher img {
    filter: invert(100%) sepia(13%) saturate(9%) hue-rotate(292deg) brightness(84%) contrast(80%);
}



.grid-page-container .sports-grid {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.sports-grid > table, td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.sports-grid table {
    border-collapse: collapse;
}

.sports-grid th {
    height: 7vh;
    width: 10vw;
}

.sports-grid td {
    text-align: center;
}

.grid-page-container .sports-leaderboard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.sports-leaderboard th {
    height: 7vh;
    width: 20vw;
    font-weight: 400;
}

.sports-leaderboard td {
    height: 7vh;
    width: 10vw;
    font-weight: 500;
    text-align: center;
}