.grid-page-container {
    width: 100%;
}

.head-switcher {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.head-switcher > p {
    margin: 0;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.head-switcher > img {
    filter: invert(100%) sepia(13%) saturate(9%) hue-rotate(292deg) brightness(84%) contrast(80%);
}

.grid-page-container .sports-grid {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.sports-grid > table, td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.sports-grid table {
    border-collapse: collapse;
}

.sports-grid th {
    height: 7vh;
    width: 10vw;
}

.sports-grid td {
    text-align: center;
}